---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import CodeCopyButton from "../components/CodeCopyButton.astro";
import WalineCounter from "../components/WalineCounter.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <BaseHead title={title} description={description} />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <Header />
        <slot />
        <WalineCounter />
        <CodeCopyButton />
        <Footer />
    </body>
</html>
